body {
    background-color: #1F2039;
}


h1 {
    font-size: 3.5em;
    font-family: 'Montserrat', sans-serif;
    color: #A5B4FC;
}

p {
    font-size: 1.1em;
    font-family: 'Manrope', sans-serif;

}

li {
    font-size: 1em;
    font-family: 'Manrope', sans-serif;
}

a {
    font-size: 1em;
    color: black;
    text-decoration-line: none;
}

a:hover {
    text-decoration: underline;
}

em {
    color: #A5B4FC;
    font-style: normal;
}

p,
h2,
li {
    color: #F9F8FF;
}




.liens {
    color: #242424;
    background-color: white;
}

.liens img:hover {
    opacity: 0.5;
}

.CTA {
    font-family: 'Manrope', sans-serif;
    color: white;
    background: linear-gradient(#8E86B5, #ACAEED);
    border-radius: 50px;
}

.CTA:hover {
    text-decoration: none;
    background: linear-gradient(#696484, #8788BA);
}

.contenu {
    border: solid 1px #8e86b5;
    border-top: 0;
    border-left: 0;
}