* {
    margin: 0;
}

body {
    background-color: #1F2039;
    font-size: 1em;
}

section {
    padding: 20px;
}

h1 {
    font-size: 3.5em;
    font-family: 'Montserrat', sans-serif;
    color: #A5B4FC;
}

p {
    font-size: 1.1em;
    font-family: 'Manrope', sans-serif;

}

li {
    font-size: 1em;
    font-family: 'Manrope', sans-serif;
}

a {
    font-size: 1em;
    color: black;
    text-decoration-line: none;
}

a:hover {
    text-decoration: underline;
}

em {
    color: #A5B4FC;
    font-style: normal;
}

p,
h2,
li {
    color: #F9F8FF;
}




footer,
header {
    padding: 20px 50px;
    color: #242424;
    background-color: white;
}

footer img:hover,
header img:hover {
    opacity: 0.5;

}

#a-propos-main {
    width: 50%;
    margin: 0 auto;
}

#a-propos-main h2,
ul {
    margin-top: 20px;
}

.CTA {
    font-family: 'Manrope', sans-serif;
    color: white;
    background: linear-gradient(#8E86B5, #ACAEED);
    border-radius: 50px;
}

.CTA:hover {
    text-decoration: none;
    background: linear-gradient(#696484, #8788BA);
}

.contenu {

    padding: 50px;
    border: solid 1px #8e86b5;
    border-top: 0;
    border-left: 0;
}